# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List some of the most popular libraries for Data Science.
- Practice markdown cells
- Practice jupyter
- Practice basic arithmetic operations

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Ruby

Some of the commonly used libraries used by Data Scientists include:
 1. Scipy
 2. Pandas
 3. Matplotlib
 4. Seaborn

| Data Science Tools|
| --- |
| Jupyter|
| R Studio |
| Apache Zepellin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marlon CALISPA